body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #9e77dd;
    color: #1b0606;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
}

section {
    background: #73adb8;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #110f0f;
}

pre {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #6b31a1;
    color: #16061f;
}
